<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Idea</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ConsentIdeaSub</display-name>
    <servlet-name>ConsentIdeaSub</servlet-name>
    <servlet-class>com.onmobile.IDEA.ConsentIdeaSub</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsentIdeaSub</servlet-name>
    <url-pattern>/ConsentIdeaSub</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IdeaAesEncDec</display-name>
    <servlet-name>IdeaAesEncDec</servlet-name>
    <servlet-class>com.onmobile.IDEA.IdeaAesEncDec</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IdeaAesEncDec</servlet-name>
    <url-pattern>/IdeaAesEncDec</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RedirectDaius</display-name>
    <servlet-name>RedirectDaius</servlet-name>
    <servlet-class>com.onmobile.IDEA.RedirectDaius</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedirectDaius</servlet-name>
    <url-pattern>/RedirectDaius</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConsentIdeaPPU</display-name>
    <servlet-name>ConsentIdeaPPU</servlet-name>
    <servlet-class>com.onmobile.IDEA.ConsentIdeaPPU</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsentIdeaPPU</servlet-name>
    <url-pattern>/ConsentIdeaPPU</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ideaCGmiddle</display-name>
    <servlet-name>ideaCGmiddle</servlet-name>
    <servlet-class>com.onmobile.IDEA.ideaCGmiddle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ideaCGmiddle</servlet-name>
    <url-pattern>/ideaCGmiddle</url-pattern>
  </servlet-mapping>
</web-app>