<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Ad2C</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
      <servlet>
        <servlet-name>ad2cCallback</servlet-name>
        <servlet-class>onmobilead2c.ad2cCallback</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>ad2cCallback</servlet-name>
        <url-pattern>/ad2cCallback</url-pattern>
    </servlet-mapping>
  
      <servlet>
        <servlet-name>ad2cClick</servlet-name>
        <servlet-class>onmobilead2c.ad2cClick</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ad2cClick</servlet-name>
        <url-pattern>/ad2cClick</url-pattern>
    </servlet-mapping>
  
  
</web-app>